/* 
    Document   : mobile
    Created on : Sep 25, 2012, 2:02:42 PM
    Author     : ryan
    Description:
        For mobile device such as iPad, iPhone, Android, or whatever, most of
        them have no pointer
        So all hover will not be here
*/

/* for mobile and small screen */
@media (max-width:610px) {
    /* 头部 */
    .header h1 {
        width: 100%;
        white-space: nowrap;
        clear: both;
    }
    
    /* 首页 */
    div.post {
        width: 100%;
    }
    ul.msg {
        width: 97%;
    }
    
    /* 翻页 */
    div.paging {
        width: 100%;
    }
    div.paging ol {
        width: 100%;
    }
    
}